<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #000;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .error-container {
            background-color: #333;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: min(450px, 80%);
            text-align: center;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        p {
            color: #555;
            margin-bottom: 20px;
        }

        .error-message {
            color: red;
            font-weight: bold;
            margin-bottom: 20px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #45a049;
        }

        .error-img {
            width: max(200px, 60%);
            border-radius: 50%;
            box-shadow: 00px 0px 50px black;
        }

        * {
            color: white !important;
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: min(100px, 30%);
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>Error :(</h1>
        <img src=https://res.cloudinary.com/dv64duxs1/image/upload/v1706465251/fppc4aptqfawxo4b7ujd.jpg class="error-img">
        <p class="error-message">Something went wrong. Please try again later.</p>
        <div class="buttons">
            <button onclick="goBack()">Go Back</button>
            <a href="/tasks/all"><button >Home</button></a>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>