<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
    <!-- Add your CSS styles or include a stylesheet here -->
</head>
<style>
    body {
        background-color: black;
    }

    * {
        color: white !important;
    }

    .button {
        color: black;
        background-color: #333;
        border: 0;
        padding: 10px;
        font-size: 20px;
        font-weight: 800;
        text-decoration: none;
        border-radius: 30px;
    }
    
    input {
            color: black !important;
        }

</style>
<body>
    <div style="text-align: center; padding: 50px;">
        <h1>Welcome to Productivity Tracker</h1>
        <p>
            Thank you for signing up. To activate your account, please check your email and click on the activation link.
        </p>
        <p>
            If you haven't received the email, please check your spam folder.
        </p>
        <p>
            <em>Thank you for choosing our platform!</em>
        </p>
        <button class="button">
            <a href="/users/login" class="button">Log in</a>
        </button>
    </div>
    <!-- Add your footer or additional content here -->
</body>
</html>
