<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        
        body {
            font-family: 'Arial', sans-serif;
            background-color: #000;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #333;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: min(450px, 80%);
            text-align: center;
        }

        * {
            color: white !important;
        }

        input {
            color: black !important;
        }

        h1 {
            color: #333;
            margin-bottom: 35px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #555;
        }

        input {
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #45a049;
        }

        .email, .password, .confirmPassword, .username, .image {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        input[type="text"], input[type="password"], input[type="email"], input[type="file"]{
            width: min(55vw, 265px);
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 10%;
            align-items: center;
        }

        input {
            color: black !important;
        }

    </style>
</head>
<body>
    <form action="/users/auth/signup" method="post" onsubmit="return validateForm()">
        <h1>Productivity Tracker</h1>
        <div class="email">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="username">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <p id="usernameError" style="color: red; display: none;">Username can only contain letters, numbers, and underscore</p>
        </div>
        <div class="password">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="confirmPassword">
            <label for="confirmPassword">Confirm:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <p id="passwordError" style="color: red; display: none;">Password must be at least 8 characters long</p>
        </div>
        
        <div class="buttons">
            <button type="submit">Register</button>
            <a href="/users/login" style=" margin-left: 10px; font-size: 17px; font-weight: 7;">login?</a>
        </div>
    </form>

    <script>
        function validateForm() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            var usernameRegex = /^[a-zA-Z0-9_]+$/;
            if (!usernameRegex.test(username)) {
                document.getElementById("usernameError").style.display = "block";
                return false;
            } else {
                document.getElementById("usernameError").style.display = "none";
            }

            if (password.length < 8) {
                document.getElementById("passwordError").style.display = "block";
                return false;
            } else {
                document.getElementById("passwordError").style.display = "none";
            }

            if (password !== confirmPassword) {
                alert("Passwords do not match");
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
